<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url "about" %}">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "add_stock" %}">add stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "Delete_Stock" %}">delete_stock</a>
        </li>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form action="{% url "home" %}"class="d-flex" method="POST">
		{% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Get Stock Quote" aria-label="Search" name="ticker">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning" role="alert">
			<button class="close" data-dismiss="alert">
				<small><sup>x</sup></small>
			</button>
			{{ message }}
		</div><br/>		
	{% endfor %}
{% endif %}
{% block content %}


{% endblock %}

